.ico{
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin: .6875rem;
	background-repeat: no-repeat;
	background-image: url("../../../images/home/sprite.svg?id=201707201730007&version=evbt44c2vn");
	-moz-background-size: 2rem 92rem;
	-o-background-size: 2rem 92rem;
	background-size: 2rem 92rem;
	-webkit-transform: scale(1.6875);
	-moz-transform: scale(1.6875);
	-ms-transform: scale(1.6875);
	-o-transform: scale(1.6875);
	transform: scale(1.6875)
}

.ico.icon_b_huanjing, .ico.icon_huanjing {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin: .6875rem;
	background-size: 100%
}

.ico.icon_agent {
	background-position: 0 0
}

.ico.icon_chengjiao {
	background-position: 0 -2.625rem
}

.ico.icon_ditie {
	background-position: 0 -5.25rem
}

.ico.icon_ershoufang {
	background-position: 0 -7.875rem
}

.ico.icon_maifang {
	background-position: 0 -10.5rem
}

.ico.icon_wiki {
	background-position: 0 -13.125rem
}

.ico.icon_xinfang {
	background-position: 0 -15.75rem
}

.ico.icon_xuequfang {
	background-position: 0 -18.375rem
}

.ico.icon_wenda {
	background-position: 0 -21rem
}

.ico.icon_zufang {
	background-position: 0 -23.625rem
}

.ico.icon_haiwai {
	background-position: 0 -26.25rem
}

.ico.icon_zhinan {
	background-position: 0 -42rem
}

.ico.icon_gujia {
	background-position: 0 -44.625rem
}

.ico.icon_huanjing {
	background-image: url("../../../images/home/icon_huanjing.svg?id=201707201730007&version=evbt44c2vn");
	background-position: 0 .05rem;
	-webkit-transform: scale(1.6875);
	-moz-transform: scale(1.6875);
	-ms-transform: scale(1.6875);
	-o-transform: scale(1.6875);
	transform: scale(1.6875)
}

.ico.icon_b_huanjing {
	background-image: url("../../../images/home/icon_b_huanjing.svg?id=201707201730007&version=evbt44c2vn");
	-webkit-transform: scale(1.6875);
	-moz-transform: scale(1.6875);
	-ms-transform: scale(1.6875);
	-o-transform: scale(1.6875);
	transform: scale(1.6875)
}

.ico.icon_b_wenda {
	background-position: 0 -47.25rem
}

.ico.icon_b_baike {
	background-position: 0 -49.875rem
}

.ico.icon_b_lanmu {
	background-position: 0 -52.5rem
}

.ico.icon_b_fangjia {
	background-position: 0 -55.125rem
}

.ico.icon_b_gujia {
	background-position: 0 -57.75rem
}

.ico.icon_b_xiaoqu {
	background-position: 0 -60.375rem
}

.ico.icon_b_jingjiren {
	background-position: 0 -63rem
}

.ico.icon_b_shuifei {
	background-position: 0 -65.625rem
}

.ico.icon_b_daikuan {
	background-position: 0 -68.25rem
}

.ico.icon_b_kefu {
	background-position: 0 -70.875rem
}

.ico.icon_xiaoqu {
	background-position: 0 -73.5rem
}

.ico.icon_app {
	background-position: 0 -76.125rem
}

.ico.icon_linshen {
	background-position: 0 -78.75rem
}

.ico.icon_goufang {
	background-position: 0 -81.375rem
}

.ico.icon_b_shoufu {
	background-position: 0 -84rem
}

.ico.icon_b_lanrenzhaofang {
	background-position: 0 -86.625rem
}