@import url(/web/page.css);
@import url(/web/leftNav.css);
.container-body-text{
	color:#666;
}
.container-body .title{
	line-height: 50px;
	color:#333;
	font-size:18px;
	text-align: center;
	font-weight: 700;
}
.container-body .btn-radius {
	display: block;
}