@import url(/web/page.css);
@import url(/web/leftNav.css);
.newList>li{
	padding-left: 286px;
	height: 205px;
	margin-top: 20px;
	position: relative;
	border-bottom: 1px dotted #e1e1e1;
}
.newList>li .list-img{
	position:absolute;
	left: 0px;
}
.newList>li .title{
    color:#333;
    font-size:18px;
}